package views

templ MakeHeader() {
    <header class="container">
        <nav>
            <ul>
                <li><a class="contrast" href="/">ACC Results</a></li>
            </ul>
            <ul>
                <li><a class="contrast" href="/upload">upload</a></li>
                <li><a class="contrast" href="https://github.com/goeflo/accResults">github</a></li>
            </ul>
        </nav>
    </header>
}