package views

templ MakeHeader() {
    <header class="container">
        <nav>
            <ul>
                <li><a class="contrast" href="/">ACC Results</a></li>
            </ul>
            <ul>

                <li><a class="contrast" href="/upload">upload</a></li>
                <li><a class="contrast" href="/">about</a></li>
            </ul>
        </nav>
    </header>
}